/* ======================
 * Fonts
 * ====================== */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");

@import "tailwindcss";

@theme {
  /* ======================
    * ✍️ Fonts
    * ====================== */
  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-roboto: "Roboto", sans-serif;

  /* ======================
    * 🎨 Base Colors (7)
    * ====================== */
  --color-brown-600: #26231e;
  --color-brown-500: #43403b;
  --color-brown-400: #75716b;
  --color-brown-300: #dad6d1;
  --color-brown-200: #efeeeb;
  --color-brown-100: #f9f8f6;
  --color-white: #ffffff;

  /* ======================
    * 🌈 Brand Colors (4)
    * ====================== */
  --color-orange: #f2b68c;
  --color-green: #12b279;
  --color-green-light: #d7f2e9;
  --color-red: #eb5164;
}

@layer base {
  body {
    @apply text-brown-600 bg-white font-roboto;
  }
}

/* ======================
 * Markdown Styles
 * ====================== */
.markdown {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #75716b;
}

.markdown :is(h2) {
  margin-top: 32px;
  margin-bottom: 12px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  color: #43403b;
}

.markdown :is(h3, h4, h5, h6) {
  margin-top: 32px;
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: bold;
}

.markdown p:not(:is(h2, h3, h4, h5, h6) + p) {
  margin-top: 22px;
}

.markdown :is(ul, ol) {
  list-style-position: outside;
}

.markdown :is(ul) {
  list-style-type: "•";
}

.markdown :is(ol) {
  list-style-type: decimal;
  padding-left: 20px;
}

.markdown :is(a) {
  text-decoration: underline;
}

.markdown :is(a):hover {
  text-decoration: underline;
  color: #726d67;
  cursor: pointer;
}

.markdown :is(ul) li {
  margin-block: 8px;
  padding-inline-start: 8px;
  padding-left: 5px;
  margin-left: 10px;
}

.markdown :is(ol) li {
  margin-block: 8px;
  padding-inline-start: 8px;
  padding-left: 3px;
  margin-left: 10px;
}

.markdown :is(blockquote) {
  border-left: 3px solid #26231e;
  margin: 1.5em 10px;
  padding-left: 10px;
  font-style: italic;
}

.markdown :is(hr) {
  border: none;
  border-top: 2.5px solid #d1d5db;
  margin: 1.5em 0;
  width: 30%;
}

.markdown img {
  display: block;
  width: 100%;
  height: auto;
  margin: 2em 0;
  border-radius: 12px;
}
