/* ======================
 * Fonts
 * ====================== */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");

@import "tailwindcss";

@theme {
  /* ======================
    * ✍️ Fonts
    * ====================== */
  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-roboto: "Roboto", sans-serif;

  /* ======================
    * 🎨 Base Colors (7)
    * ====================== */
  --color-brown-600: #26231e;
  --color-brown-500: #43403b;
  --color-brown-400: #75716b;
  --color-brown-300: #dad6d1;
  --color-brown-200: #efeeeb;
  --color-brown-100: #f9f8f6;
  --color-white: #ffffff;

  /* ======================
    * 🌈 Brand Colors (4)
    * ====================== */
  --color-orange: #f2b68c;
  --color-green: #12b279;
  --color-green-light: #d7f2e9;
  --color-red: #eb5164;
}

@layer base {
  body {
    @apply text-brown-600 bg-white font-roboto;
  }
}
